# Maven
/target/

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
*.iml
.idea/
out/

# VSCode
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos de build
*.jar
*.war
*.ear

# Outros
node_modules/ 